.learn_more {
  position: absolute;
  font-size: 35px;
  background: #1d334a;
  border-radius: 30px;
  top: 30px;
}
.dialog-class {
position: absolute;
  font-size: 50px;
  background-color: #4a545c;
  border-radius: 30px;
  width: 800px;
  height: 900px;
  top: 30px;
}
.button-row1 button {
  display: inline-block;
  margin-right: 5px;
  margin-top: 400px;
}
.button-row button {
  display: inline-block;
  margin-right: 5px;
}
.button-row1 {
  text-align: center;
}
.button-row {
   margin-left: 430px;
}
.tema_button {
  width: 300px;
  font-size: 50px;
  background-color: #979aaa;
  border-radius: 30px;
  text-align: center;
  font-size: 40px;
  top: 600px;
}
.close_and_settings_button {
  width: 100px;
  font-size: 50px;
  background-color: #979aaa;
  border-radius: 30px;
  text-align: center;
  font-size: 40px;

}
.round {
    border-radius: 100px;
    border: 5px solid black;
    box-shadow: 0 0 7px #666;
    width: 200px;
    height: 160px;
   }
.avatar_name {
  text-align: center;
  display: inline-block;
  margin-right: 5px;
  left: 30%;
  margin-left: 30%;
  font-size: 40px;
}
.block_left {
  width: 27%;
  height: 1300px;
  overflow-y: scroll;
  float: left;
  background: #23282b;
  }
.block_right {
  width: 73%;
  height: 1300px;
  overflow-y: scroll;
  background: #1d334a;
  }
.user_search{
  position: absolute;
  resize: none;
  left: 80px;
  top: 34px;
  width: 350px;
  border-radius: 20px;
  font-size:30px;
  background: #1d334a;
}