.learn_more {
  position: absolute;
  font-size: 30px;
  background: #1d334a;
  border-radius: 30px;
  top: 20px;
  color: #808080;
}
.dialog-class {
position: absolute;
  font-size: 50px;
  background-color: #4a545c;
  border-radius: 30px;
  width: 600px;
  height: 1200px;
  top: -20px;
  left: 71%;
}
.button-row1 button {
  display: inline-block;
  margin-right: 5px;
  margin-top: 300px;
}
.button-row button {
  display: inline-block;
  margin-right: 5px;
}
.button-row1 {
  text-align: center;
}
.button-row {
   text-align: center;
   margin-left: 250px;
}
.text_about_me {
    font-size: 30px;
    text-align: center;
}
.tema_button {
  width: 200px;
  font-size: 50px;
  background-color: #979aaa;
  border-radius: 30px;
  text-align: center;
  font-size: 40px;
  top: 300px;
}
.card-text-1 {
    width: 300px;
    text-align: left;
    color: #000000;
    margin: 0 auto;
    width: 350px;
    font-size: 1.3rem;
    margin-top: 10px;
}
.close_and_settings_button {
  width: 70px;
  font-size: 50px;
  background-color: #979aaa;
  border-radius: 30px;
  text-align: center;
  font-size: 40px;

}
.round {
    border-radius: 100px;
    border: 5px solid black;
    box-shadow: 0 0 7px #666;
    width: 100px;
    height: 100px;
   }
.avatar_name {
  text-align: center;
  display: inline-block;
  margin-right: 5px;
  left: 40%;
  margin-left: 40%;
  font-size: 40px;
  margin-top: 70px;
}
.block_left {
  width: 36%;
  height: 1300px;
  overflow-y: scroll;
  float: left;
  background: #23282b;
  }
.block_right {
  width: 64%;
  height: 1300px;
  overflow-y: scroll;
  background: #1d334a;
  }
.user_search{
  position: absolute;
  resize: none;
  left: 60px;
  top: 26px;
  width: 300px;
  border-radius: 20px;
  font-size: 21px;
  background: #1d334a;
  color: #808080;
}
.user_search_submit{
  position: absolute;
  left: 380px;
  top: 26px;
  border-radius: 20px;
  font-size: 21px;
  background: #1d334a;
  color: #808080;
}
.on_main{
  position: absolute;
  left: 540px;
  top: 26px;
  border-radius: 20px;
  font-size: 21px;
  background: #1d334a;
  color: #808080;
}
.result_search{
  position: absolute;
  top: 100px;
  color: #808080;
}