<!DOCTYPE html>  
  <html>
    <head>
      <title> Vertical Division</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',
  filename='css/style_2.css') }}">
      <meta charset="utf-8">
    </head>
    <body style="overflow: hidden">
      <div>
        <div class="block_left" style="background: {{ background[0] }}">
          <div>
            <button type="button" class="learn_more" onclick="window.myDialog.show()" style="background:  {{ background[1] }}">
                ☰
            </button>
            <form method="POST" action="" class="form_user_search">
              <textarea class="user_search" name="search" style="background: {{ background[1] }}" rows="1" placeholder="Поиск"></textarea>
              <button class="user_search_submit" style="background: {{ background[1] }}" type="submit">Подтвердить</button>
              <a href="http://127.0.0.1:5000/main/{{ current_user.id }}">
                <button class="on_main" style="background: {{ background[1] }}" type="button">Сбросить</button>
              </a>
            </form>
          </div>
          <div class="result_search">
            {% if found_users %}
              {% for i in found_users %}
                <form method ="post" action="">
                  <button class="found-users" style="background: {{ background[1] }}" name="user-button"
                          value="{{ i.login }}">
                    <span class="image-container">
                      <img src="{{ url_for('get_image', image_id=i.id) }}" alt="Иконка">
                    </span>
                    <span class="button-text">{{ i.name }} {{ i.surname }}</span>
                  </button><br>
                </form>
              {% endfor %}
            {% endif %}
          </div>
          <div class="created-chats">
            {% if created_chats_users %}
              {% for i in created_chats_users %}
                <form method ="post" action="">
                  <button class="found-users" style="background: {{ background[1] }}" name="user-button"
                          value="{{ i.login }}">
                    <span class="image-container">
                      <img src="{{ url_for('get_image', image_id=i.id) }}" alt="Иконка">
                    </span>
                    <span class="button-text">{{ i.name }} {{ i.surname }}</span>
                  </button><br>
                </form>
              {% endfor %}
            {% endif %}
          </div>
          <dialog id="myDialog" class="dialog-class" style="background-color: {{ background[2] }}">
            <div class="button-row">
              <button type="button" class="close_and_settings_button" style="background-color: {{ background[3] }}"
                      onclick="window.settingsDialog.show()">⚙️</button>
              <button type="button" class="close_and_settings_button" style="background-color: {{ background[3] }}"
                      onclick="window.myDialog.close()">❌</button>
            </div>
            <div class="avatar_name">
              <img src="{{ url_for('get_image', image_id=current_user.id) }}" alt="" class="round">
            </div>
                <p style="text-align: center;">{{ current_user.name }} {{ current_user.surname }}</p>
            <div>
              <p style="font-size: 30px; text-align: center;">Ваша информация</p>
              {% if current_user.about_me %}
                <div style="width: 500px; height: 300px; overflow-y: scroll; font-size: 30px;
                 scrollbar-color: #979aaa #4a545c;">
                  {{ current_user.about_me }}
                </div>
              {% else %}
              <div style="width: 500px; height: 300px; overflow-y: scroll; font-size: 30px;
                 scrollbar-color: #979aaa #4a545c; text-align: center;">Пока пусто
                </div>
              {% endif %}
            </div>
            <div class="button-row1">
              <form method ="post" action="">
                <button type="submit" class="tema_button" name="light_tema" value="light_tema"
                        style="background-color:  {{ background[3] }}">☀️ тема</button>
                <button type="submit" class="tema_button" name="night_tema" value="night_tema"
                        style="background-color:  {{ background[3] }}">🌑 тема</button>
              </form>
            </div>
            <div><a href="http://127.0.0.1:5000/logout"><button type="submit"
                                                                                    class="exit_button"
                                                                                    style="background-color: #CD5C5C">
              Выйти</button></a></div>
          </dialog>
          <dialog id="settingsDialog" class="dialog-class" style="background-color: {{ background[2] }}">
            <button type="button" style="margin-left: 378px; background-color: {{ background[3] }}"
                    class="close_and_settings_button" onclick="window.settingsDialog.close()">❌</button>
            <form action="" method="post">
              {{ form.hidden_tag() }}
              <p class="card-text-1">{{ form.name.label }}
                {{ form.name(class="form-control") }} <br>
                {% for error in form.name.error %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}</p>
              <p class="card-text-1">{{ form.surname.label }}
                {{ form.surname(class="form-control") }} <br>
                {% for error in form.surname.error %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}</p>
                <p class="card-text-1">{{ form.about_me.label }}
                {{ form.about_me(class="form-control") }} <br>
                {% for error in form.about_me.error %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}</p>
                <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
              </form>
            <div class="button-row1">
              <form action = "" method = "POST"
                  enctype = "multipart/form-data">
                <label class="file_button" style="background-color: {{ background[3] }}">
                  <input type="file" name="file" />Фото</label>
              <a href="http://127.0.0.1:5000/main/{{ current_user.id }}"><button class="tema_button"
                                                                                 style="background-color: {{ background[3] }}"
                                                                                 type="submit">Загрузить</button></a>
              </form>
            </div>
          </dialog>
        </div>
        {% if chat %}
          <div style="background-color: {{ background[3] }}" class="pofile-container">
            <img src="{{ url_for('get_image', image_id=selected_user.id) }}" alt="Иконка" class="round" style="margin-left: 20px;">
            <button class="inline-button"
                    style="background-color: {{ background[3] }}; border: none;"
                    onclick="window.userDialog.show()">{{ selected_user.name }} {{ selected_user.surname }}</button>
          </div>
          <dialog id="userDialog" class="dialog-class" style="background-color: {{ background[2] }}">
              <div class="button-row">
                <button type="button" class="close_and_settings_button" style="background-color: {{ background[3] }}"
                        onclick="window.userDialog.close()">❌</button>
              </div>
              <div class="avatar_name">
                <img src="{{ url_for('get_image', image_id=selected_user.id) }}" alt="" class="round">
              </div>
                  <p style="text-align: center;">{{ selected_user.name }} {{ selected_user.surname }}</p>
              <div>
                <p style="font-size: 30px; text-align: center;">Информация</p>
                <div style="width: 500px; height: 300px; overflow-y: scroll; font-size: 30px;
                  scrollbar-color: #979aaa #4a545c;">
                  {{ selected_user.about_me }}
                </div>
              </div>
          </dialog>
        {% endif %}
        <div class="block_right" style="background: {{ background[1] }}">
          {% if chat %}
            <div class="sending-messages">
              <form method ="post" class="form-sending-messages">
                <textarea class="input-field" placeholder="Сообщение..." name="input-field"></textarea>
                <input class="btn btn-primary" type="submit" value="Отправить" style="margin-top: -42px; height: 48px;">
              </form>
            </div>
          {% endif %}
        </div>
      </div>
    </body>
  </html>